.popup__container {
  max-width: 100%;
  display: grid;
  grid-template-columns: min-content 32px;
  grid-template-rows: 32px min-content;
  gap: 8px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .popup__container {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
